<html>
<head>
  <link rel="shortcut icon" href="">
  <link rel="stylesheet" type="text/css" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans:300" rel="stylesheet">
</head>
<body>
  <p id="p1">Rock, paper and scissors</p>
  <p id="p2">Sign in to play</p>
  <form id="form" action="/name" method="post">
    <input type="text" placeholder="   WHAT'S YOUR NAME?" name="player_name">
    <input id="b1" type="submit" value="SUBMIT">
  </form>
</body>
</html>
