<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans:300" rel="stylesheet">
  </head>
  <body>
    <h1 id="one">I've picked one...</h1>
    <h1>Your turn now: </h1>
    <div class="block">
      <form action="/p1move" method="get">
        <input type="submit" name="option" value="rock" id="rock">
        <input type="submit" name="option" value="paper" id="paper">
        <input type="submit" name="option" value="scissors" id="scissors">
      </form>
    </div>
  </body>
</html>
