<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Josefin+Sans:300" rel="stylesheet">
  </head>

  <body>
    <p id="p3">Hi
      <%= @player_name%>, let's
      <a href="/options">play!</a>
    </p>
  </body>

</html>
