html {
  background: -moz-radial-gradient(black 2%, transparent 1%), -moz-radial-gradient(black 2%, transparent 1%), white;
  background: -webkit-radial-gradient(black 2%, transparent 1%), -webkit-radial-gradient(black 2%, transparent 1%), white;
  background-position: 0 0, 80px 80px;
  -webkit-background-size: 160px 160px;
  -moz-background-size: 160px 160px;
  background-size: 160px 160px;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: black;
  text-decoration-color: orange;
  margin-bottom: 30;
  font-size: 110;
}

body {
  font-family: 'Caveat', cursive;
}

h1 {
  margin-top: 10px;
  text-align: center;
  font-weight: 200;
  font-size: 110px;
}

#one {
  margin-top: 50px;
  font-size: 80px;
}

#p1 {
  margin-top: 50px;
  font-size: 110px;
}

#p2 {
  margin-top: 10px;
  margin-bottom: 30;
  font-size: 80px;
}

#p3 {
  margin-top: 190px;
  font-size: 80px;
}

input[type="text"] {
  margin-top: 0px;
  margin-right: 10px;
  height: 30px;
  width: 200px;
  border: 2px solid black;
  border-radius: 50%;
  padding: 30px;
}

#b1 {
  background-color: orange;
  border: 2px solid black;
  padding: 15px;
  border-radius: 50%;
}

.block, p, #form {
  text-align: center;
}

#rock {
  background: url("/rock.jpeg");
  background-size: cover;
  background-image: no-repeat;
  border: 0;
  height: 200px;
  width: 200px;
  color: transparent;
}

#paper {
  background: url("/paper.jpeg");
  background-size: cover;
  background-image: no-repeat;
  margin-left: 50px;
  margin-right: 50px;
  border: 0;
  height: 200px;
  width: 200px;
  color: transparent;
}

#scissors {
  background: url("/scissors2.jpeg");
  background-size: cover;
  background-image: no-repeat;
  border: 0;
  height: 200px;
  width: 200px;
  color: transparent;
}

#celebration {
  margin-top: 0;
  font-size: 200px;
}
